#player-headshot-container, #player-bio-container {
    margin-top: 10px;
}
.player-headshot {
    height: 175px;
}
h2, h3 {
    margin: 10px 0;
}
.team-label {
    margin: 10px 0 5px !important;
}
.league-label {
    margin: 0 0 27px;
}
p {
    font-size: 1.1em;
}
.last-three-seasons-stat-container {
    margin: 10px 33px;
}
.last-three-seasons-stat-table {
    width: 100%;
}
.last-three-seasons-stat-table td {
    text-align: right;
}
.dataTables_wrapper th
{
    cursor: default;
}