/* Generic Styles */

@font-face {
    font-family: ubuntu;
    src: url('Fonts/UbuntuCondensed-Regular.ttf');
}
body, a, label {
    font-family: ubuntu;
    letter-spacing: 1px;
}

body
{
    background-color: #E6E6E6;
    font-size: .9em;
    line-height: 15px;
    color: #222222;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: underline;
}

a:hover {
    color: #b3b0b0;
}

.main-content {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    background-color: #FEFEFE;
}

/*End generic styles*/

/*Declarative styles*/
.border-top {
    border-top: solid 1px black;
}
.border-bottom {
    border-bottom: solid 1px black;
}
.border-left {
    border-left: solid 1px black;
}
.border-right {
    border-right: solid 1px black;
}
.left {
    float: left;
}
.right {
    float: right;
}
.center-align {
    text-align: center !important;
}
.right-align {
    text-align: right !important;
}
.left-align {
    text-align: left !important;
}
/* End Declarative styles*/