/* Generic Styles */

@font-face {
    font-family: ubuntu;
    src: url('Fonts/UbuntuCondensed-Regular.ttf');
}
body, a, label, p, h1, h2, h3, h4 {
    font-family: ubuntu;
    letter-spacing: 1px;
}

body
{
    background-color: #E6E6E6;
    font-size: .9em;
    line-height: 15px;
    color: #222222;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: underline;
}

a:hover {
    color: #b3b0b0;
}

#main-content, #header, #footer {
    width: 960px;
    margin: 0 auto;
    padding: 0;    
}

#main-content, #footer {
    background-color: #FEFEFE;
}

#footer span {
    margin-top: 25px;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.5em;
}

/*End generic styles*/

/*Declarative styles*/
.border-top {
    border-top: solid 1px black;
}
.border-bottom {
    border-bottom: solid 1px black;
}
.border-left {
    border-left: solid 1px black;
}
.border-right {
    border-right: solid 1px black;
}
.left {
    float: left;
}
.right {
    float: right;
}
.center-align {
    text-align: center !important;
}
.right-align {
    text-align: right !important;
}
.left-align {
    text-align: left !important;
}
.normal-text {
    font-weight: normal;
    text-decoration: none;
}
.no-bottom-margin {
    margin-bottom: 0;
}
.inline-block {
    display: inline-block;
}
.block {
    display: block;
}
.margin-left-sm {
    margin-left: 5px;
}
.margin-left-mid {
    margin-left: 10px;
}
.margin-left-lg {
    margin-left: 15px;
}
/* End Declarative styles*/