<style type="text/css">
    .player-headshot {
        height: 75px;
        margin: auto;
    }
    .padding-cell-left {
        padding-left: 7px;
    }
    .player-search-table-container {
        margin: 10px;
    }
</style>
<link href="~/Content/Styles/Pluggins/datatables.css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.8.2/jquery.dataTables.min.js"></script>

<div class="grid_10 player-search-table-container" ng-controller="PlayerSummaryCtrl">
    <table jquery-Datatable 
           table-data-source="@(Url.Action("GetPlayerSummaryTable", "Home"))" 
           ao-columns = "columns"
           ao-column-Defs="columnDefs"
           o-language="oLanguage" >
        <thead>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Number</th>
            <th>Position</th>
            <th>Team</th>
            <th>League</th>
        </thead>   
    </table>
</div>

<script type="text/javascript">
    function PlayerSummaryCtrl($scope) {
        $scope.oLanguage = { sSearch: "Search by player name" };
        $scope.columns = [
            { "sWidth": "7%", "sClass": "center-align" },
            { "sWidth": "35%", "sClass": "padding-cell-left" },
            { "sWidth": "5%", "sClass": "center-align" },
            { "sWidth": "13%", "sClass": "padding-cell-left" },
            { "sWidth": "20%", "sClass": "padding-cell-left" },
            { "sWidth": "20%", "sClass": "padding-cell-left" }
        ];
        $scope.columnDefs = [
            { "bSortable": false, "aTargets": [0, 2] },
            { "bSearchable": true, "aTargets": [1] }
        ];
    }
</script>