@{
    ViewBag.Title = "Player Search";
}

<link href="~/Content/Styles/Home/player-search.css" rel="stylesheet" />

<div class="grid_3" >
    <div class="team-list-container border-bottom" ng-controller="TeamListCtrl">
        <ul class="full-team-list">
            <li class="league-header ui-widget-header">American League</li>
            <ul class="team-list" ng-repeat="team in americanLeagueList">
                <li><input type="checkbox" ng-value="team.TeamId"  ng-click="teamSelected(team.TeamId)" />{{team.Name}}</li>
            </ul>
            <li class="league-header ui-widget-header">National League</li>
            <ul class="team-list" ng-repeat="team in nationalLeagueList">
                <li><input type="checkbox" ng-value="team.TeamId" ng-click="teamSelected(team.TeamId)" />{{team.Name}}</li>
            </ul>
            <li class="list-footer ui-widget-header"></li>
        </ul>
    </div>
</div>
<div class="grid_9 player-search-table-container" ng-controller="PlayerSummaryCtrl">
    <table id="player-search-table" jquery-Datatable 
           table-data-source="@(Url.Action("GetPlayerSummaryTable", "Home"))" 
           optional-filter="teamIdList"
           ao-columns = "columns"
           ao-column-Defs="columnDefs"
           o-language="oLanguage"
           callback-function="callbackFunction" >
        <thead>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Number</th>
            <th>Position</th>
            <th>Team</th>
            <th>League</th>
        </thead>   
    </table>
</div>

<script src="~/Content/Scripts/Home/player-search-controllers.js"></script>
<script src="~/Content/Scripts/Home/player-search-services.js"></script>
<script type="text/javascript">
    var playerBioUrl = "@Url.Action("PlayerBio", "Home")";
    var teamIdList = new Array();
</script>