@{
    ViewBag.Title = "Player Search";
    ViewBag.PageHeader = "Player Search";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
<link href="~/Content/Styles/Home/player-search-mobile.css" rel="stylesheet" />

<a href="#teamSelectPopup" data-rel="popup" data-role="button" data-icon="grid">Filter By Team</a>
<div data-role="popup" id="teamSelectPopup">
    <a id="close-team-popup" data-role="button" data-icon="delete" data-mini="true">Close</a>     
    <div class="team-list-container" data-role="listview" ng-controller="TeamListCtrl">
        <div data-role="collapsible" data-mini="true">
            <h3>American League</h3>
            <ul class="team-list" data-role="collapsible-set" ng-repeat="team in americanLeagueList">
                <li><input type="checkbox" ng-value="team.TeamId"  ng-click="teamSelected(team.TeamId)" />{{team.Name}}</li>
            </ul>
        </div>
        <div data-role="collapsible" data-mini="true">
            <h3>National League</h3>
            <ul class="team-list" data-role="collapsible-set" ng-repeat="team in nationalLeagueList">
                <li><input type="checkbox" ng-value="team.TeamId"  ng-click="teamSelected(team.TeamId)" />{{team.Name}}</li>
            </ul>
        </div>
    </div>    
</div>
<div class="player-search-table-container" ng-controller="PlayerSummaryCtrl">
    <table id="player-search-table" jquery-datatable-async
           table-data-source="@(Url.Action("GetPlayerSummaryTable", "Home"))" 
           optional-filter="teamIdList"
           ao-columns = "columns"
           ao-column-Defs="columnDefs"
           o-language="oLanguage"
           callback-function="callbackFunction" >
        <thead>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>#</th>
            <th>Pos</th>
            <th>Team</th>
            <th>League</th>
        </thead>   
    </table>
</div>

<script src="~/Content/Scripts/Home/player-search-controllers.js"></script>
<script src="~/Content/Scripts/Home/player-search-services.js"></script>
<script type="text/javascript">
    var playerBioUrl = "@Url.Action("PlayerBio", "Home")";
    var teamIdList = new Array();
</script>
